div .widget.seattle_ninja_social ul.seattle_social_ninja_list
{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

div .widget.seattle_ninja_social ul.seattle_social_ninja_list li
{
	display: inline;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-ms-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;		
}

body ul.seattle_social_ninja_list > li
{display: inline-block !important;}

body ul.seattle_social_ninja_list > li 
{
border:0 !important;
display:inline;
margin: 0 4% 1% 0 !important;
}

body ul.seattle_social_ninja_list li:before {
content: ' ' !important;
margin:0 !important;
border:0 !important;
}


div .widget.seattle_ninja_social ul.seattle_seattle_ninja_list li i.fa
{
	display:inherit;
}

div .widget.seattle_ninja_social ul li.hide
{ display:none;}




body .seattle_ninja_social ul.seattle_social_ninja_list li {  border:0 !important; }
